<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Drawing App</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
		<link href="./assets/css/all.css" rel="stylesheet" />
		<link rel="stylesheet" href="./assets/css/styles.css" />
	</head>
	<style></style>

	<body style="margin: 0;">
		<!--https://www.youtube.com/watch?v=m4sioSqlXhQ-->
		<div id="page">
			<div id="toolbar">
				<div class="tooloption" id="rad">
					Radius
					<span id="radval">10</span>
					<div id="decrad" class="radcontrol">-</div>
					<div id="incrad" class="radcontrol">+</div>
				</div>

				<div class="tooloption" id="colors"></div>

				<div id="clearCanvas" class="drawTool">
					Clear
				</div>
				<div id="undo" class="drawTool">
					Undo
				</div>
				<div id="restore" class="drawTool">
					Redo
				</div>
				<a href="save" id="save" class="drawTool">
					Save
				</a>
				<div id="eraser" class="drawTool">
					<i class="fas fa-eraser"></i>
				</div>
				<div id="filldrip" class="drawTool">
					<i class="fa fa-fill-drip"></i>
				</div>
				<div id="brush" class="drawTool">
					<i class="fa fa-brush"></i>
				</div>
				<div class="clear"></div>
			</div>
			<div id="canvasWrapper">
				<canvas id="myCanvas">
					Sorry, your browser does not support HTML5 canvas
				</canvas>
			</div>
		</div>

		<script type="text/javascript">
			function onReady(callback) {
				var intervalID = window.setInterval(checkReady, 1000);

				function checkReady() {
					if (document.getElementsByTagName('body')[0] !== undefined) {
						window.clearInterval(intervalID);
						callback.call(this);
					}
				}
			}

			function show(id, value) {
				document.getElementById(id).style.display = value ? 'block' : 'none';
			}

			onReady(function () {
				show('page', true);
				show('loading', false);
			});
		</script>
		<script type="text/javascript" src="./assets/sketchpad.js"></script>
	</body>
</html>

<div id="loading"></div>

<!--https://www.youtube.com/watch?v=mbf-7-7utUc-->
<!--http://wineexplorer.brancottestate.com/attribute/varietal-->
